<form method="POST">
  <label for="user-name">First Name and Last Name</label>
<input id="user-name" type="text" placeholder="First Name and Last Name" name="name">

<label for="user-email">Email</label>
<input type="email" name="email" id="user-email" placeholder="Email">

<label for="user-password">Password</label>
<input type="password" name="password" id="user-password" placeholder="Password">

<button>Sign Up</button>
</form>

